
#food-row {
  height: calc(0.85 * var(--nonavbar-height));
  overflow: hidden;
  position: absolute;
  top: calc(var(--navbar-height) + 0.1 * var(--nonavbar-height));
  width: 100vw;
}

.game-img {
  background-size: cover;
  background-position: 50%;
  display: flex;
  position: relative;
}

.game-img::after {
  background-color: black;
  content: '';
  height:100%;
  left:0;
  opacity: 0.4;
  top: 0;
  width:100%;
  z-index: 1;
}

.game-img:hover::after {
  cursor: pointer;
  opacity: 0.2;
}

.img-info {
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0% 10% 0% 10%;
  position: absolute;
  width: 80%;
}

.img-info > h3 {
  color: white;
  font-size: 8vmin;
  text-align: center;
  text-shadow: 0.5vmin 0.5vmin 0.5vmin black;
  z-index: 3;
}

.img-info > h4 {
  color: white;
  font-size: 4vmin;
  text-align: center;
  text-shadow: 0.5vmin 0.5vmin 0.5vmin black;
  z-index: 3;
}

.circle {
  background-color: #222222;
  border-radius: 50%;
  box-shadow: 0.4vmin 0.4vmin 0.4vmin black;
  display: grid;
  font-size: 4vmax;
  height: 8vmax;
  left: 50%;
  place-items: center;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 8vmax;
  z-index: 3;
}

#header {
  height: calc(0.1 * var(--nonavbar-height));
  left: 50vw;
  position: absolute;
  top: var(--navbar-height);
  transform: translateX(-50%);
  white-space: nowrap;
  width: 100vw;
}

#header > span:nth-child(1) {
  display: block;
  font-size: calc(0.025 * var(--nonavbar-height));
  line-height: calc( 0.025 * var(--nonavbar-height));
  position: relative;
  
}

#header > span:nth-child(2) {
  display: block;
  font-size: calc(0.055 * var(--nonavbar-height));
  line-height: calc(0.045 * var(--nonavbar-height));
  position: relative;
}

#round-icons {
  align-content: center;
  bottom: 0;
  height: calc(0.05 * var(--nonavbar-height));
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 100vw;
}

#round-icons > img {
  max-height: 100%;
  max-width: 10%;
  object-fit: cover;
  padding: 0.5vh 0.25vw 0.5vh 0.25vw;
  position: relative;
}

.share-modal-footer {
  display: flex; 
  justify-content: flex-end;
}