* {
  font-family: georgia;
  color: #a1a1a1;
}
body {
  background-color: #191919;
  overflow: hidden;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=text], input[type=password] {
  width: 100%;
  height: 40px;
  outline: 0;
  border-width: 0 0 2px;
  border-color:  #191919;
  background-color: #222222;
}
a {
  text-decoration: none;
}

/* Navbar style */
.bg-dark {
  background-color: #222222 !important;
}
.navbar-brand {
  color: #a1a1a1 !important;
}
.navbar-user {
  margin-right: 5px;
}
.nav-link {
  color: #616161 !important;
}
.active {
  color: #ccc9c9 !important;
}
/* Text and Button Colours */
.btn-primary {
  background-color: #ee5b63 !important;
  border-color: #ee5b63 !important;
  color: #222222;
}
.btn-primary:hover {
  background-color: inherit !important;
  color: #ee5b63 !important;
}
.btn-outline-secondary {
  color: #F9D132 !important;
  border-color: #F9D132 !important;
  margin-right: 5px;
}
.btn-outline-secondary:hover {
  background-color: #F9D132 !important;
  color: #222222 !important;
}
.text-primary {
  color: #ee5b63 !important;
}
.text-secondary {
  color: #F9D132 !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus,
.btn-check:focus+.btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: none;
  border-color: none;
}

/* Modal Styles */
.modal-content {
  background-color: #222222;
}
.modal-header {
  border-bottom: 1px solid #191919;
}
.rego-icons {
  filter: brightness(50%);
}