{% extends "base.html" %}
{% block content %}
<!-- Page Title -->
    <div id="header" class="jumbotron text-center mt-2"> 
        <h1>{{current_user.username}}'s Statistics</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table class="table table-info align-middle" id="results-table">
        <tr>
            <th>Game number</th>
            <th>Date</th>
            <th>Nutrient</th>
            <th>Score</th>
            <th>Rounds</th>
            <th>Seed</th>
        </tr>
    </table>
    <script src="static/js/analysis.js"></script>

{% endblock %}