{% extends "base.html" %}
{% block content %}
<body onload="onLoad()">
  <div class="container-fluid g-0">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid px-3">
        <img src="../images/logo.png" class="logo" alt="logo">
        <a class="navbar-brand" href="#">[GameName]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analysis</a>
            </li>
          </ul>
          <form class="d-flex">
            <span class="navbar-brand">[FIRST NAME]</span>
            <button class="btn btn-outline-success" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Page Title -->
    <div class="jumbotron text-center mt-2"> 
      <span> NUTRIENT OF THE DAY </span>
      <h1><strong id="nutrient-name-text"></strong></h1>
    </div>
   <!-- Main Game -->
    <section class="row food-row g-0" id="food-selection-area">
      <div class="col-sm-12 col-md-6 game-img">
          <div class="img-info center">
            <h3 class="food-name-text"></h3>
            <h4 id="nutrient-data-text"></h4>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 game-img">
        <div class="img-info center">
          <h3 class="food-name-text"></h3>
        </div>
      </div>
      <div class="circle" id="circle-comparison"><span>OR</span></div>
    </section>
    <!-- Game Information -->
    <div class="row m-1 footer">
      <div class="col-12 center">
        <row id="round-icons"></row>
      </div>
    </div>
  </div>

</body>

{% endblock %}