{% extends "base.html" %}
{% block content %}
  <div class="container-fluid g-0">
    <!-- Page Title -->
    <div id="header" class="jumbotron text-center mt-2"> 
      <span> NUTRIENT OF THE DAY </span>
      <span><strong id="nutrient-name-text" class="text-primary"></strong></span>
    </div>
   <!-- Main Game -->
    <section class="row g-0" id="food-row">
      <div class="col-sm-12 col-md-6 game-img">
          <div class="img-info center">
            <h3 class="food-name-text"></h3>
            <h4 id="nutrient-data-text"></h4>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 game-img">
        <div class="img-info center">
          <h3 class="food-name-text"></h3>
        </div>
      </div>
      <div class="circle" id="circle-comparison"><span>OR</span></div>
    </section>
    <!-- Game Information -->
    <div id="round-icons" class="center">
    </div>
  </div>
  {% include 'shareModal.html' %}
  <!-- Javascript -->
  <script src="static/js/game.js"></script>
  <script src="static/js/share.js"></script>
{% endblock %}