{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/css/home.css">
<div class="container-fluid g-0">
  <!-- Nutrient of the Day -->
  <div id="header" class="jumbotron text-center mt-2">
    <span> NUTRIENT OF THE DAY </span>
    <span><strong class="nutrient-name-text" class="text-primary">Fat</strong></span>
  </div><br>

  <!-- Game Info -->
  <div id="info-div">
    <span><strong>How to Play</strong></span>
    
    <span>Each round, select the food with more <span class="nutrient-name-text">Fat</span></span>
    <span>There are 10 new rounds released every day!</span><br>
    <span>Tip: <span id="tip">Look for <img src="static/images/fat.png"> at the bottom of the screen to see your score</span></span>
  </div>
  
  <button id="play" type="button">Play</button>
  
</div>

<!-- Javascript -->
<script src="static/js/home.js"></script>
{% endblock %}