<div class="modal" tabindex="-1" id="shareModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 text-primary">Share Daily Achievement</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center mt-3">
        <p id="copy-text"></p>
        <p id="copy-emoji"></p>
      </div>
      <div class="share-modal-footer mx-3 mb-3">
        <button type="button" class="btn btn-outline-secondary mr-2" id="copy-btn" style="width:160px">Copy To Clipboard</button>
        <button type="button" class="btn btn-primary" id="twitter-btn">Share to Twitter</button>
      </div>
    </div>
  </div>
</div>